[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.16.3"
flask-shell-ipython = "==0.4.1"

[packages]
Flask = "==1.1.1"
Flask-Bcrypt = "==0.7.1"
Flask-Cors = "==3.0.8"
Flask-JWT-Extended = "==3.23.0"
Flask-Marshmallow = "==0.10.1"
Flask-Migrate = "==2.5.2"
Flask-RESTful = "==0.3.7"
Flask-SQLAlchemy = "==2.4.0"
Flask-Uploads = "==0.2.1"
marshmallow = "==3.2.0"
marshmallow-sqlalchemy = "==0.19.0"
psycopg2 = "==2.8.3"
python-dotenv = "==0.10.3"
python-slugify = "==3.0.4"
SQLAlchemy-JSONField = "==0.8.0"

[requires]
python_version = "3.6"
